<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu') %></p>
  <%= render 'menu' %>
</div>


<%# <h2><%= cookies[:curso] %></h2>
<%# <h3><%= session[:about] %></h3>
<%# <p>O idioma desta aplicação é: <b><%= t('actual_locale') %></b></p>
<%# <p><%= t('hello') %></p>
<%# <p> %>
  <%# <b>Date:</b> <%= l(Date.today) %>
<%# </p> %>

<%# <p>Rails Environments: <%= env_rails %></p>